streamlit
pandas
numpy
spacy
pdf2image
pytesseract
pymupdf
openpyxl
# 👇 Rajoute ceci pour forcer à installer le modèle anglais
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl
